@model MusicStoreData.Models.CMS.NewsAndArticles

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h5 class="text-center text-danger">Are you sure you want to delete this?</h5>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <td>
                        <label asp-for="Name" class="form-label">Enter Article Name</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control" id="floatingInput" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Descriptions" class="form-label">Enter Description</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Descriptions" class="form-control" id="floatingDescription" placeholder="Description"></textarea>
                            <span asp-validation-for="Descriptions" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Author" class="form-label">Enter Author</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Author" class="form-control" id="floatingInput" placeholder="Author">
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
               
                
            </tbody>
        </table>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3 text-center">
                <button type="submit" class="btn btn-danger m-2">Delete <i class="bi bi-trash"></i></button>
                <a asp-action="Index" class="btn btn-primary m-2">   <i class="bi bi-arrow-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



