@model IEnumerable<MusicStoreData.Models.CMS.ControlActions >
@{
    ViewData["Title"] = "Web Managment";
}

<li class="nav-item dropdown">
    <a asp-action="Index" class="nav-link dropdown-toggle text-light" aria-expanded="false" asp-controller="ControlAction"  >
        <span>Web Managment </span>
    </a>
</li>
