@model FAQ

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Edit/Answer Question</h4>
        </div>
        <div class="col-6 text-end">
            <a onclick="history.back()" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i>
                Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <form asp-action="Edit" method="post">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            <label asp-for="Subject" class="form-label">Subject</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Subject" class="form-control" id="floatingInput" placeholder="">
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Descriptions" class="form-label">Question</label>
                        </td>
                        <td>
                            <div class="form-floating">
                                <textarea asp-for="Descriptions" class="form-control" style="height: 300px;" placeholder="" disabled></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Answer" class="form-label">Answer</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <textarea asp-for="Answer" class="form-control" id="floatingDescription" style="height: 200px;" placeholder="Answer"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="isActive" class="form-label">Publish Answer</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <!-- Dropdown dla opcji Yes/No -->
                                <select asp-for="isActive" class="form-select" id="floatingDescription">
                                    <option selected>---- Click to Select ------</option>
                                    <option value="true">Yes</option>
                                    <option value="false" >No</option>
                                </select>
                                <span asp-validation-for="isActive" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success m-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
