@model MusicStoreData.Models.Store.TechInfo
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Details for TechInfo</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary m-2">
                <i class="bi bi-pencil"></i>
                Edit
            </a>
            <a asp-action="Index" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i>
                Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
             <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                        <label asp-for="BodyMaterial" class="form-label">Body Material</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                            <input asp-for="BodyMaterial" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="BodyMaterial" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label asp-for="NeckMaterial" class="form-label">Neck Material</label>
                        </td>
                        <td>
                            <div class="form-floating">
                            <input asp-for="NeckMaterial" class="form-control" style="height: 300px;" placeholder="" disabled />
                            <span asp-validation-for="NeckMaterial" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label asp-for="FingerboardMaterial" class="form-label">Fingerboard Material</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                            <input asp-for="FingerboardMaterial" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="FingerboardMaterial" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                <tr>
                 
                <tr>
                    <td>
                        <label asp-for="Pickups" class="form-label">Pickups</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Pickups" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="Pickups" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="BridgeType" class="form-label">Bridge Type</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="BridgeType" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="BridgeType" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Electronics" class="form-label">Electronics</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Electronics" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="Electronics" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="StringGauge" class="form-label">String Gauge</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="StringGauge" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="StringGauge" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TuningMachines" class="form-label">Tuning Machines</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="TuningMachines" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="TuningMachines" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="FretboardRadius" class="form-label">Fretboard Radius</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="FretboardRadius" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="FretboardRadius" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="NumberOfFrets" class="form-label">Number Of Frets</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="NumberOfFrets" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="NumberOfFrets" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Finish" class="form-label">Finish</label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Finish" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="Finish" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Weight" class="form-label">Weight </label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Weight" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="AccessoriesIncluded" class="form-label">Accessories Included </label>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="AccessoriesIncluded" class="form-control" id="floatingInput" placeholder="" disabled>
                            <span asp-validation-for="AccessoriesIncluded" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
             
     </div>
</div>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<br>
<br>
