@model MusicStore.ViewModels.OrderVM

@{
    ViewData["Title"] = "Order Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 
    <div class="container mt-5">
        <div class="card shadow border-0">
            <div class="card-header bg-success text-white text-center py-4">
                <h1>Order Confirmation</h1>
            </div>
            <div class="card-body">
            <h4 class="text-center mb-3 fs-5">Thank you for your purchase!</h4>
            <p class="text-center mb-4 fs-6">Your order has been successfully placed. Below are the details of your order</p>
            <div class="card-footer text-center">

                <a href="/" class="btn btn-primary">Continue Shopping</a>
                <a class="btn btn-secondary m-2" asp-controller="Order" asp-action="Index">View Order History</a>
            </div> 
        </div>
    </div>

 
