@model MusicStoreData.Models.CMS.More

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Edit More</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i>
                Back to List
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <form asp-action="Edit" method="post">
                    <table class="table table-bordered table-striped table-hover">
                        <tbody>

                            <tr>
                                <td>
                                    <label asp-for="Name" class="form-label">Name</label>
                                </td>
                                <td>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Name" class="form-control" id="floatingInput" placeholder="">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="Descriptions" class="form-label">Description</label>
                                </td>
                                <td>
                                    <div class="form-floating">
                                        <input asp-for="Descriptions" class="form-control" style="height: 300px;" ></input>
                                    </div>
                                </td>
                            </tr>
 
                            <tr>
                                <td>
                                    <label asp-for="MoreIcon" class="form-label">Icon</label>
                                </td>
                                <td>
                                    <div class="mb-3">
                                        <input asp-for="MoreIcon" class="form-control" id="floatingInput" placeholder="" disabled>
                                        <input type="file" name="file" asp-for="MoreIcon" class="form-control" id="imageInput">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="Position" class="form-label">Position</label>
                                </td>
                                <td>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Position" class="form-control" id="floatingInput" placeholder="">
                                        <span asp-validation-for="Position" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success m-2" />
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                @if (!string.IsNullOrEmpty(Model.MoreIcon))
                {
                    <div class="card-img-top" style="background-image: url('.. / .. /./png/more/default.webp'); background-size: cover; background-position: center; height: 400px;"></div>

                }
                else
                {
                    <div class="card-img-top" style="background-image: url('@Model.MoreIcon'); background-size: cover; background-position: center; height: 400px;"></div>
                }
            </div>
        </div>
    </div>
</div>
 