@model MusicStoreData.Models.CMS.CustomerQuery

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Edit Controllers</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i>
                Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <form asp-action="Edit" method="post">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td>
                            <label asp-for="Name" class="form-label">Name</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Name" class="form-control" id="floatingInput" disabled>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Descriptions" class="form-label">Message</label>
                        </td>
                        <td>
                            <div class="form-floating">
                                <input asp-for="Descriptions" class="form-control" style="height: 300px;" disabled></input>
                                <span asp-validation-for="Descriptions" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="IsAnswered" class="form-label">Status</label>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <select asp-for="IsAnswered" class="form-control" id="floatingInput">
                                    <option value=true selected>Need Attention</option>
                                    <option value=false>Replied</option>
                                </select>
                                <span asp-validation-for="IsAnswered" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>

                    
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success m-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Get all textarea elements on the page
                var textareas = document.querySelectorAll('textarea');

                // Loop through each textarea and replace it with CKEditor
                textareas.forEach(function (textarea) {
                    CKEDITOR.replace(textarea, {
                        allowedContent: {
                            div: {
                                attributes: true,
                                classes: true,
                                styles: true
                            }
                        },
                        toolbar: [
                            { name: 'document', items: ['Source', '-', 'Save'] },
                            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                            { name: 'styles', items: ['Format'] },
                            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
                            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
                            { name: 'links', items: ['Link', 'Unlink'] },
                            { name: 'insert', items: ['Image', 'Table'] },
                            { name: 'tools', items: ['Maximize'] },
                            { name: 'editing', items: ['Scayt'] },
                            { name: 'others', items: ['-'] },
                            { name: 'about', items: ['About'] }
                        ],
                        extraPlugins: 'image,table',
                        extraAllowedContent: '*(*)',
                        allowedContent: true
                    });
                });
            });

        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
